<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uclgroupgh.form">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />




    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">

    <meta-data
        android:name="DATABASE"
        android:value="agraforms.db" />
    <meta-data
        android:name="VERSION"
        android:value="2" />
    <meta-data
        android:name="QUERY_LOG"
        android:value="true" />
    <meta-data
        android:name="DOMAIN_PACKAGE_NAME"
        android:value="com.uclgroupgh.form" />

    <uses-library
        android:name="org.apache.http.legacy"
        android:required="false" />


    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.provider"
        android:exported="false"
        android:grantUriPermissions="true"
        tools:replace="android:authorities">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/provider_paths"
            tools:replace="android:resource" />
    </provider>


    <activity
        android:name="com.uclgroupgh.form.activities.MainActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar" />

    <activity
        android:name="com.uclgroupgh.form.activities.LoginActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <service android:name=".hostmonitor.HostMonitorService" />

    <service
        android:name=".service.LocationService"
        android:process=":location_service" />

    <receiver
        android:name="com.uclgroupgh.form.events.UploadReceiver"
        android:exported="false">
        <intent-filter>
            <action android:name="com.uclgroupgh.form.uploadservice.broadcast.status" />
        </intent-filter>
    </receiver>
    <receiver
        android:name="com.uclgroupgh.form.hostmonitor.HostReachabilityReceiver"
        android:enabled="true"
        android:exported="false">
        <intent-filter>
            <action android:name="com.uclgroupgh.form.reachability" />
        </intent-filter>
    </receiver>
    <receiver
        android:name="com.uclgroupgh.form.events.NotificationActionsReceiver"
        android:exported="false">
        <intent-filter>
            <action android:name="com.uclgroupgh.form.notification.action" />
        </intent-filter>
    </receiver>

    <service
        android:name=".service.FormService"
        android:enabled="true"
        android:exported="true" />
    </application>
</manifest>
